<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
</head>
<body>
<script type='text/javascript' src='//code.jquery.com/jquery-1.11.1.min.js'></script>
<script type="text/javascript">
	$(document).ready(function() {
		setTimeout(function(){location.reload()}, 3000);
	});
</script>
<div id="result">
	{% if latest_data_list %}
	    <ul>
	    {% for data in latest_data_list %}
	        <li>{{ data.data_val }}</li>
	    {% endfor %}
	    </ul>
	{% else %}
	    <p>No data is available.</p>
	{% endif %}
</div>
</body>
</html>


